## .NET
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Rider
.idea/
*.sln.iml

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
!/Avalonia.FluentIcons.*.nupkg
**/packages/repositories.config
project.lock.json
project.fragment.lock.json
artifacts/

## .NET Core
*.log
test-results/

## Publish
*.Publish.xml
*.azurePubxml
*.pubxml
*.publishproj

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Avalonia
*..axaml.bak
avares://

## Build results
[Dd]ebugPublic/
[Rr]eleases/
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml

## ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## TeamCity
_TeamCity*

## DotCover
*.dotCover

## StyleCop
StyleCopReport.xml

## Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## Backup & report files from converting an old project file
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

## SQL Server Files
*.mdf
*.ldf
*.ndf

## Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

## Microsoft Fakes
FakesAssemblies/

## Node.js
node_modules/

## TypeScript
*.js.map

## Local environment
.env
.env.local
.env.*.local

## IDE
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## JetBrains Rider
.idea/
*.sln.iml